snippet lfunc "New local function"
local function ${1:new_function}(${2:args})
	$0
end
endsnippet

snippet cfunc "New class function"
function ${1:class}:${2:new_function}(${3:args})
	$0
end
endsnippet

snippet mfunc "New module function"
function ${1:module}.${2:new_function}(${3:args})
	$0
end
endsnippet

# vim:ft=snippets:
