snippet lfun local-function
	local function ${1:new_function}(${2:args})
		$0
	end

snippet cfun class function
	function ${1:class}:${2:new_function}(${3:args})
		$0
	end

snippet rfun closure
	return function (${1:args})
		$0
	end

# vim:ft=snippets:
